.seat-chart {
  width: 90%;
  margin: 0 auto;
}

.available {
  background-color: green;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

.reserved {
  background-color: red;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

/* before you write your css please use comments 
to show start and end so we can keep our code in a modular form
also try not to overwrite someone elses style :) */

/* Christopher */

  /* my css will go in this area */

/* end */